@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
a {
  color: #0f0f0f;
}

/* header */
.header {
  background-color: #F9EFE5;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #F9EFE5;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #F9EFE5;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #AF763F;
  transition: background-color 0.5s;
  color: #F9EFE5;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  padding: 28px 20px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */
@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}
.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start;
  }
}
.animate__animated.animate__fadeInDown {
  --animate-duration: 2s;
}

.logo {
  position: relative;
  --animate-duration: 0s;
}

.logo img {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.logo .logohover {
  display: none;
}

.logo:hover .logohover {
  display: block;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Montserrat", sans-serif;
}

.background-image {
  background-image: url(../assets/arizona.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.container {
  flex-direction: column;
  display: flex;
  max-width: 550px;
  margin: 10px auto;
  background-color: bisque;
  border: 10px solid goldenrod;
  padding: 10px;
  box-shadow: 0 0 5px rgb(192, 143, 27);
}

.contact-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
  margin: 20px 10px 10px;
}

.icons-text {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fa {
  font-size: x-large;
}

.form {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: center;
}

input {
  width: 100%;
  padding: 5px;
  margin: 5px;
}

label, input, textarea {
  display: block;
}

label {
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 80px;
  margin: 10px;
  resize: none;
}

.submit-btn {
  width: 200px;
  padding: 12px 20px;
  margin-bottom: 10px;
  font-size: large;
  background-color: goldenrod;
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.fa-brands {
  font-size: xx-large;
  margin: 0 20px;
  cursor: pointer;
}

.fa-brands:hover {
  color: goldenrod;
}

#error {
  margin-bottom: 20px;
  background: #fe8b8e;
  padding: 0px;
  text-align: center;
  font-size: 14px;
  transition: all 0.5s ease;
}

@media only screen and (min-width: 700px) {
  .icon-cards {
    position: relative;
    width: 90vw;
    height: 500vw;
    max-width: 380px;
    max-height: 250px;
    margin: 0;
    color: white;
    perspective: 1000px;
    transform-origin: center;
  }
  .icon-cards__content {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: center;
    transform-style: preserve-3d;
    transform: translateZ(-30vw) rotateY(0);
    -webkit-animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
            animation: carousel 10s infinite cubic-bezier(0.77, 0, 0.175, 1) forwards;
  }
  .icon-cards__content.step-animation {
    -webkit-animation: carousel 8s infinite steps(1) forwards;
            animation: carousel 8s infinite steps(1) forwards;
  }
  .icon-cards__item {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 60vw;
    height: 40vw;
    max-width: 380px;
    max-height: 250px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    transform-origin: center;
  }
  .icon-cards__item:nth-child(1) {
    width: auto;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    background: transparent;
    transform: rotateY(0) translateZ(35vw);
  }
  .icon-cards__item:nth-child(2) {
    background: transparent;
    transform: rotateY(120deg) translateZ(35vw);
  }
  .icon-cards__item:nth-child(3) {
    background: transparent;
    transform: rotateY(240deg) translateZ(35vw);
  }
  @-webkit-keyframes carousel {
    0%, 17.5% {
      transform: translateZ(-35vw) rotateY(0);
    }
    27.5%, 45% {
      transform: translateZ(-35vw) rotateY(-120deg);
    }
    55%, 72.5% {
      transform: translateZ(-35vw) rotateY(-240deg);
    }
    82.5%, 100% {
      transform: translateZ(-35vw) rotateY(-360deg);
    }
  }
  @keyframes carousel {
    0%, 17.5% {
      transform: translateZ(-35vw) rotateY(0);
    }
    27.5%, 45% {
      transform: translateZ(-35vw) rotateY(-120deg);
    }
    55%, 72.5% {
      transform: translateZ(-35vw) rotateY(-240deg);
    }
    82.5%, 100% {
      transform: translateZ(-35vw) rotateY(-360deg);
    }
  }
  .checkbox {
    position: relative;
    margin-top: 2rem;
    font-size: 0.9rem;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    transition: color 0.3s ease;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .checkbox:hover {
    color: white;
  }
  .checkbox__checkbox {
    position: relative;
    top: 0;
    width: 1.0625rem;
    height: 1.0625rem;
    background: red;
    border: 1px solid currentColor;
    border-radius: 4px;
    vertical-align: middle;
    transition: background 0.1s ease;
    cursor: pointer;
  }
  .checkbox__checkbox::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 5px;
    width: 5px;
    height: 11px;
    opacity: 0;
    transform: rotate(45deg) scale(0);
    border-right: 2px solid white;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
    transition-delay: 0.15s;
  }
  .checkbox__label {
    margin-left: 5px;
    vertical-align: middle;
    cursor: pointer;
  }
  .checkbox > input:checked ~ .checkbox__checkbox {
    border-color: transparent;
    background: white;
    -webkit-animation: jelly 0.6s ease;
            animation: jelly 0.6s ease;
  }
  .checkbox > input:checked ~ .checkbox__checkbox:after {
    opacity: 1;
    transform: rotate(45deg) scale(1);
  }
  @-webkit-keyframes jelly {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    to {
      transform: scale(1, 1);
    }
  }
  @keyframes jelly {
    from {
      transform: scale(1, 1);
    }
    30% {
      transform: scale(1.25, 0.75);
    }
    40% {
      transform: scale(0.75, 1.25);
    }
    50% {
      transform: scale(1.15, 0.85);
    }
    65% {
      transform: scale(0.95, 1.05);
    }
    75% {
      transform: scale(1.05, 0.95);
    }
    to {
      transform: scale(1, 1);
    }
  }
  .img {
    width: 180%;
    height: 180%;
    position: center;
    margin-top: 100px;
  }
  .columnas {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-column-gap: 1px;
    grid-row-gap: 1em;
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 60px;
    align-items: flex-start;
  }
  .title-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    flex-wrap: wrap;
    gap: 0px;
  }
  .titulo {
    text-align: center;
    color: black;
    font-size: 25px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .descripcion {
    font-size: 20px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
    text-align: justify;
    -webkit-margin-after: 70px;
            margin-block-end: 70px;
  }
  .deco {
    display: block;
    margin: auto;
  }
  .detalle {
    padding: 0px;
    margin: 0%;
  }
}
@media only screen and (max-width: 1000px) {
  .titulo {
    text-align: center;
    color: black;
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  }
  .descripcion {
    font-size: 25px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
    text-align: justify;
  }
  .deco {
    display: block;
    margin: auto;
  }
  .detalle {
    padding: 0px;
    margin: 0%;
  }
  .columnas {
    display: flex;
    flex-direction: column-reverse;
  }
  .img {
    height: 400px;
    width: 400px;
    margin-left: 20px;
  }
}
.containerprod {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

.containerdesc {
  height: 250px;
}

/* Columns */
.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}

/* Left Column */
.left-column img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
}

.left-column img.active {
  opacity: 1;
}

/* Right Column */
/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}

.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}

.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* Product Configuration */
.product-color span,
.cable-config span {
  font-size: 14px;
  font-weight: 400;
  color: #86939E;
  margin-bottom: 20px;
  display: inline-block;
}

/* Product Color */
.product-color {
  margin-bottom: 30px;
}

.color-choose div {
  display: inline-block;
}

.color-choose input[type=radio] {
  display: none;
}

.color-choose input[type=radio] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.color-choose input[type=radio] + label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.color-choose input[type=radio]#Golden + label span {
  background-color: yellow;
}

.color-choose input[type=radio]#Honey + label span {
  background-color: rgb(238, 129, 39);
}

.color-choose input[type=radio]#Red + label span {
  background-color: red;
}

.color-choose input[type=radio]#Black + label span {
  background-color: black;
}

.color-choose input[type=radio]:checked + label span {
  background-image: url(images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* Cable Configuration */
.cable-choose {
  margin-bottom: 20px;
}

.cable-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all 0.5s;
}

.cable-choose button:hover,
.cable-choose button:active,
.cable-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}

.cable-config {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}

.cable-config a {
  color: #358ED7;
  text-decoration: none;
  font-size: 12px;
  position: relative;
  margin: 10px 0;
  display: inline-block;
}

.cable-config a:before {
  content: "?";
  height: 15px;
  width: 15px;
  border-radius: 50%;
  border: 2px solid rgba(53, 142, 215, 0.5);
  display: inline-block;
  text-align: center;
  line-height: 16px;
  opacity: 0.5;
  margin-right: 5px;
}

/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all 0.5s;
}

.cart-btn:hover {
  background-color: #64af3d;
}

/* Responsive */
@media (max-width: 940px) {
  .containerprod {
    flex-direction: column;
    margin-top: 60px;
  }
  .left-column,
.right-column {
    width: 100%;
  }
  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }
}
@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}
.mb_parallax_container {
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#mb_parallax_one {
  background-image: url(../assets/prodimages/rubia.png);
}

#mb_parallax_two {
  background-image: url(../assets/prodimages/roja2.png);
}

#mb_parallax_three {
  background-image: url(../assets/prodimages/roja.png);
}

#mb_parallax_four {
  background-image: url(../assets/prodimages/honey.png);
}

#mb_parallax_five {
  background-image: url(../assets/prodimages/roja3.png);
}

#mb_parallax_six {
  background-image: url(../assets/prodimages/negra.png);
}/*# sourceMappingURL=style.css.map */