.animate__animated.animate__fadeInDown {
    --animate-duration: 2s;
  }
  
  .logo {
    position: relative;
    --animate-duration: 0s;
  }
  
  .logo img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .logo .logohover {
    display: none;
  }
  
  .logo:hover .logohover {
    display: block;
  }
