/* This only changes this particular animation duration */
.animate__animated.animate__fadeInDown {
    --animate-duration: 2s;
  }
  
  /* This changes all the animations globally */
  /*:root {
    --animate-duration: 800ms;
    --animate-delay: 0.9s;
  }*/

  /*logo animation*/
  .logo {
    position: relative;
    --animate-duration: 0s;
  }
  
  .logo img {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .logo .logohover {
    display: none;
  }
  
  .logo:hover .logohover {
    display: block;
  }
