*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
} 

.background-image{
  background-image: url(../assets/arizona.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh ;
}

.container{
  display:flex;
  flex-direction: column;
  margin-top: 30px;
  margin: 10px auto;
  background-color: bisque;
  max-width: 800px;
  border: 10px solid goldenrod;
  padding: 10px;
  box-shadow:0 0 5px rgb(192, 143, 27) ;
}

.contact-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.contact-icons{
display: flex;
flex-wrap: wrap;
flex-direction: row;
justify-content: center;
justify-content: space-around;
}

.icons-text {
  display: flex;
  align-items: center;     
  flex-direction: column;
}

.fa{
  font-size: x-large;
}

.form{
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-weight: bold;
}

.form > * {
  margin: 5px 0;
}

input{
  padding:5px;
}

textarea{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  resize: none;
}

.submit-btn{
  align-self: center;
  font-size: large;
  background-color: goldenrod;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  width: 200px;
  cursor: pointer;
}

.social{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

.fa-brands{
  font-size: xx-large;
  margin: 0 20px;
  cursor: pointer;
}



.fa-brands:hover{
  color: goldenrod;
}

