.mb_parallax_container {
    height: 100vh !important;
    width: 100vw;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-color: #EEEEEE;
  }
  
  .mb_parallax_overlay {
    // height: 60vh;
    // width: 45vw;
    // background-color: black;
    opacity: .9;
    font-size: large;
    padding-top: 10vh;
    color: white;
    text-align: center;
  }
  
  #mb_parallax_one {
    background-image: url(../assets/prodimages/rubia2.png);
  }
  #mb_parallax_two {
    background-image: url(../assets/prodimages/rojaB.png);
  }
  #mb_parallax_three {
    background-image: url(../assets/prodimages/rojaA.png);
  }
  #mb_parallax_four {
    background-image: url(../assets/prodimages/honey2.png);
  }
  #mb_parallax_five {
    background-image: url(../assets/prodimages/rojac.png);
  }
  #mb_parallax_six {
    background-image: url(../assets/prodimages/negra2.png);
  }
  
  