.titulohome{
  background-color: #EEEEEE;
  text-align: center;
  color: $brown;
  padding: 20px;
  z-index: 2;
}

body{
  box-sizing: border-box;
}
  
  #mb_parallax_one {
    background-image: url(../assets/prodimages/rubia2.png);
    z-index: 1;
  }
  #mb_parallax_two {
    background-image: url(../assets/prodimages/rojaB.png);
  }
  #mb_parallax_three {
    background-image: url(../assets/prodimages/rojaA.png);
  }
  #mb_parallax_four {
    background-image: url(../assets/prodimages/honey2.png);
  }
  #mb_parallax_five {
    background-image: url(../assets/prodimages/rojaC.png);
  }
  #mb_parallax_six {
    background-image: url(../assets/prodimages/negra2.png);
  }
  
  
  @media (min-width: 30em) {
    .col2{
      display: flex;
      flex-direction: row;
      // flex-wrap: wrap;
      height: 100vh;
    }
     .secundario {
      width: 50%;
      opacity: 0.5;
    }
 
    .principal {
     width: 50%;
     background-color: #EEEEEE 0.2; 
     padding-left: 10px;
   }
   .mb_parallax_container {
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position:left;
    background-color: #EEEEEE;
    background-attachment: fixed;
    padding-top: 0vh;
  }
  
  .mb_parallax_overlay {
    // height: 60vh;
    // width: 45vw;
    opacity: 1;
    font-size: large;
    // padding-top: 10vh;
    color: $brown;
    // text-align: center;
  }

  .estilo-title {
    font-size: 60px;
    line-height: 60px;
  }
  .elementor-html5-video{
    width: 90vw;
    padding-top: 15px;
    position:static;
  }
 }

  @media (min-width: 992px) {
   .col2{
     display: flex;
     flex-direction: row;
    //  flex-wrap: wrap;
     height: 100vh;
   }
    .secundario {
     width: 50%;
     opacity: 0.5;
   }

   .principal {
    width: 50%;
    background-color: #EEEEEE 0.2; 
  }

  .mb_parallax_container {
    height: 100vh;
    width: 100vw;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    background-color: #EEEEEE;
    background-attachment: fixed;
  }
  
  .mb_parallax_overlay {
    // height: 60vh;
    // width: 45vw;
    // background-color: black;
    opacity: 1;
    font-size: large;
    padding-right: 20px;
    color: $brown;
    // text-align: center;
  }

  .estilo-title {
    font-size: 60px;
    line-height: 60px;
}
.elementor-html5-video{
  width: 100vw;
  height: 70vh;
  padding-top: 15px;
  padding-bottom: 100px;
  position:static;
}
}